.main-container {
  /* height: 100vh; */
  background-image: url("../../../../public/images/home/main\ image.png");
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  padding: 7% 0px 10%;
  color: white;
}

.auth-heading {
  font-size: 2rem;
  font-family: var(--formFamily);
  font-weight: 500;
  text-transform: uppercase;
}

.heading-h1 {
  font-family: var(--formFamily);
  font-size: 3rem;
  width: 60%;
  margin-inline: auto;
  text-align: center;
  font-weight: 400;
  line-height: 4rem;
}
.heading-last {
  font-family: var(--formFamily);
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: 3%;
  margin-bottom: 2%;
  text-align: center;
  line-height: 2.2rem;
}
.view-menu-btn {
  color: #fff;
  border: 2px solid var(--primaryYellow);
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.2rem 3rem;
  background-color: #3b1016a1;
}
.view-menu-btn:hover {
  border: 2px solid var(--primaryYellow);
}
.after-heading-img-wrapper {
  width: 20%;
  margin: 1rem 0px;
}
.after-heading-img {
  width: 100%;
  object-fit: contain;
}

@media (max-width: 600px) {
  .auth-heading {
    font-size: 1.5rem;
  }
  .heading-h1 {
    font-size: 1.7rem;
    line-height: 2.5rem;
    width: 100%;
  }
  .after-heading-img-wrapper {
    width: 50%;
  }
  .view-menu-btn {
    margin-top: 5%;
    font-size: 1rem;
  }
  .after-heading-img-wrapper {
    width: 8rem;
    margin: 0.5rem 0px;
  }
  .view-menu-btn {
    font-size: 0.9rem;
    padding: 0.2rem 2rem;
  }
}
