.reserve-table-section {
  width: 100%;
  background-image: url("/images/Asset8.png");
  background-position: bottom;
  background-size: cover;
  padding: 3% 0px 6%;
}
.reserve-table-heading {
  font-size: 1.7rem;
  /* color: var(--primaryColor); */
  font-weight: 500;
  font-family: var(--formFamily);
  text-align: center;
}
.after-heading-img-div {
  width: 20%;
  margin: 2% auto;
}
.after-heading-img {
  width: 100%;
  object-fit: contain;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.book-a-tabel-btn {
  padding: 0.3rem 2rem;
  background-color: var(--primaryColor);
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
  display: inline-block;
  margin-inline: auto;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.form-wrapper {
  width: 75%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.first-row-wrapper {
  display: flex;
  justify-content: space-between;
}
.half-input {
  width: 47%;
  background-color: var(--primaryColor);
  color: #fff;
  border-radius: 5px;
}
.center-text {
  width: 100%;
  border-radius: 5px;
}
.full-text {
  width: 100%;
  background-color: var(--primaryColor);
  color: #fff !important;
  border-radius: 5px;
}
.text-area {
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  background-color: var(--primaryColor);
  resize: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
  .form-wrapper {
    width: 95%;
  }
  .reserve-table-heading {
    font-size: 1.3rem;
  }
  .after-heading-img-div {
    width: 8rem;
  }
  .book-a-tabel-btn {
    padding: 0.2rem 1rem;
  }
  .form-wrapper {
    gap: 0.5rem;
  }
  .half-input,
  .full-text {
    /* height: 2.5rem !important; */
    font-size: 0.9rem;
    text-align: center;
  }
  .text-area {
    height: 7rem;
  }
  .reserve-table-section {
    padding: 6% 0px 16%;
  }
  .book-a-tabel-btn {
    width: 95%;
    font-size: 1rem;
    padding: 0.7rem;
  }
  .btn-wrapper {
    margin-top: 1rem;
  }
}
