.taste-view-section {
  position: relative;
  background-color: var(--primaryColor);
  /* padding: 2% 0px 4%; */
  width: 100%;
  padding: 3% 0px;

  /* height: 100vh; */
}
.top-left-img-wrapper {
  position: absolute;
  top: 5%;
  left: 0;
  width: 8%;
}
.top-left-img-wrapper-img {
  width: 100%;
  object-fit: contain;
}
.top-right-img-wrapper {
  position: absolute;
  top: 5%;
  right: 0;
  width: 8%;
}
.bottom-left-img-wrapper {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 8%;
}
.bottom-right-img-wrapper {
  position: absolute;
  bottom: 5%;
  right: 0;
  width: 8%;
}

.left-design {
  position: absolute;
  top: 0;
  left: 0;
}
.taste-view-heading {
  text-align: center;
  font-family: var(--formFamily);
  color: #fff;
  font-weight: 400;
  font-size: 2.5rem;
  /* padding-top: 3%; */
  /* margin-top: 2%; */
}
.taste-view-box-design-wrapper {
  width: 80%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 3%;
}
.center-design-img-wrapper {
  width: 15%;
  margin-inline: auto;
  position: absolute;
  left: 50%;
  bottom: 5%;
  right: 50%;
  transform: translate(-50%);
}
.center-design-img-wrapper-img {
  /* width: 100%;
  height: 100%; */
  width: 100%;
  object-fit: contain;
}

.box {
  width: 47%;
  min-width: 47%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2% 2% 4% 0px;
  background-color: #5e1c255b;
  align-items: flex-end;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  overflow: hidden;
  scroll-snap-align: end;
}
.box-img-wrapper {
  position: absolute;
  top: -3%;
  left: 0;
  width: 12%;
  /* height: 20%; */
}
.box-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.two-box-wrapper {
  display: flex;
  /* flex-wrap: wrap; */
  overflow-y: scroll;
  /* justify-content: space-between; */
  gap: 5%;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

}
.two-box-wrapper::-webkit-scrollbar{
  display: none;
}
.text-name-wrapper {
  width: 88%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.box-para {
  color: #fff;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.7rem;
  text-align: justify;
}
.name-deg-wrapper {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  align-items: flex-end;
}
.name {
  font-size: 2rem;
  font-family: var(--formFamily);
  color: #fff;
}
.desg {
  font-size: 1rem;
  color: var(--primaryYellow);
}
.top-img-wrapper {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
}
.top-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.three-squre-box-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 10%;
}
.after-heading-img-wrapper {
  width: 15%;
  margin: 0.5% 0px 4%;
  margin-inline: auto;
}
.after-heading-img {
  width: 100%;
  object-fit: contain;
}
.three-squre-box-wrapper-img{
  opacity: 0.1;
}
.active-three-squre-box-wrapper-img{
  opacity: 1 !important;
}
@media screen and (max-width: 1000px) {
  .taste-view-box-design-wrapper {
    width: 95%;
  }
  .taste-view-heading {
    font-size: 1.7rem;
  }
  .after-heading-img-wrapper {
    width: 6rem;
  }
  .three-squre-box-wrapper-img {
    width: 1.6rem;
  }
  .box-para {
    font-size: 0.9rem;
  }
  .name {
    font-size: 1.6rem;
  }
  .desg {
    font-size: 0.95rem;
  }
  .top-img-wrapper {
    width: 8rem;
    margin-inline: auto;
  }
}

@media screen and (max-width: 700px) {
  .box {
    width: 100%;
    min-width: 100%;
  }
  .two-box-wrapper {
    gap: 2rem;
  }
  .taste-view-heading {
    font-size: 1.7rem;
  }
  .after-heading-img-wrapper {
    width: 8rem;
  }
  .top-img-wrapper {
    width: 6rem;
    margin-inline: auto;
  }
  .box-para {
    font-size: 0.85rem;
    line-height: 1.5rem;
  }
  .name {
    font-size: 1.5rem;
  }
  .desg {
    font-size: 0.9rem;
  }
  .name-deg-wrapper {
    gap: 0.5rem;
  }
  .box-img-wrapper {
    width: 3rem;
  }
  .center-design-img-wrapper {
    width: 8rem;
  }
  .three-squre-box-wrapper-img {
    width: 1.5rem;
  }

  .taste-view-box-design-wrapper {
    width: 90%;
  }
  .top-left-img-wrapper,
  .top-right-img-wrapper,
  .bottom-left-img-wrapper,
  .bottom-right-img-wrapper {
    width: 18%;
  }
  .three-squre-box-wrapper {
    margin-bottom: 30%;
  }
}
