.timing-section {
  position: relative;
  padding: 3% 0px;
  width: 100%;
  /* background-color: var(--primaryColor); */
  background: url("/images/home/Asset26.png");
}
.left-top-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  transform: rotate(180deg);
  opacity: 0.5;
}
.left-top-img-wrapper-img {
  width: 100%;
  object-fit: contain;
}
.right-bottom-img-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10%;
  transform: rotate(180deg);
  opacity: 0.5;
}
.timing-background-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primaryColor);
}
.timing-background-img {
  width: 100%;
  height: 100%;
  /* object-fit: fill; */
}
.content-img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 5% 0px;
  margin-inline: auto;
  position: relative;
  z-index: 3;
  gap: 5rem;
}

.heading-bottom-img-wrapper {
  width: 30%;
  margin-inline: auto;
  margin-top: -1%;
}
.heading-bottom-img-wrapper-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}





.center-section-wrapper {
  display: flex;
  justify-content: space-between;
  height: max-content;
  position: relative;
}
.right-section-img-wrapper {
  width: 40%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  right: 0;
  gap: 2%;
  top: 0;
}
.img-upper-wrapper {
}
.upper-img {
  width: 80%;
  object-fit: contain;
  margin-left: 10%;
}
.right-section-img {
  width: 100%;
  height: 90%;
  object-fit: contain;
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.9));
}
.left-content-wrapper {
  width: 55%;
}
.para {
  font-size: 1.2rem;
  color: #fff;
  line-height: 2.5rem;
  text-align: justify;
}
.heading {
  font-family: var(--formFamily);
  color: var(--primaryYellow);
  font-size: 2rem;
  text-align: center;
  /* margin-top: 1rem; */
  font-weight: 500;
}
.timing-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-top: 1rem;
}
.timing-div {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}
.timing-color {
  color: var(--primaryYellow);
}
.top-bottom-img {
  width: 100%;
  object-fit: contain;
}
.top-bottom-img-wrapper {
  width: 23%;
  margin-inline: auto;
}
@media screen and (max-width: 600px) {
  .center-section-wrapper {
    flex-wrap: wrap;
  }
  .left-content-wrapper {
    width: 100%;
  }
  .right-section-img-wrapper {
    width: 70%;
    margin-top: 0.8rem;
    margin-inline: auto;
  }
  .right-section-img-wrapper {
    position: static;
  }
  .content-img-wrapper {
    width: 90%;
  }
  .heading-bottom-img-wrapper{
    margin-top: -2.5%;
    margin-bottom: 2%;
  }
  .para {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
  .heading {
    font-size: 1.1rem;
    margin: 0.7rem 0px;
    margin-bottom: 0;
  }
  .timing-div {
    font-size: 1rem;
  }
    .upper-img{
      width: 50%;
      margin: 0;
      
    }
    .img-upper-wrapper{
      display: flex;
      justify-content: center;
      margin: 3% 0px;
    }
  .timing-wrapper {
    margin-top: 0rem;
    gap: 0.4rem;
  }
  .content-img-wrapper {
    gap: 15%;
  }
  .top-bottom-img-wrapper {
    width: 8rem;
  }
  .left-top-img-wrapper {
    width: 30%;
  }
  .right-bottom-img-wrapper {
    width: 15%;
  }
  .timing-section {
    padding: 7% 0px;
  }
}
