.top-quality-section {
  background: url("/images/home/1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 10% 0px;
}
.for-top-gap {
}
.bottom-img-wrapper {
  margin-bottom: 3%;
  bottom: 0 !important;
}
.top-section-img {
  position: absolute;
  left: 50%;
  top: 0;
  right: 50%;
  transform: translate(-50%);
  width: 15%;
  margin-top: 3%;
}
.center-section-wrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
}
.left-section-img-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 3%;
}
.right-section-wrapper {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.side-image-wrapper {
  /* width: 40%; */
  /* height: 10vh; */
}
.side-image-wrapper-img {
  /* width: 100%;
  height: 100%; */
  /* width: 80%; */
  height: 25vh;
  object-fit: contain;
}

.left-section-img {
  width: 90%;
  object-fit: cover;
    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.9));

}
.top-section-img {
  /* width: 20%; */
  margin-inline: auto;
}
.heading {
  font-size: 1.7rem;
  color: var(--primaryYellow);
  font-family: var(--formFamily);
  text-align: justify;
  line-height: 2.5rem;
  /* letter-spacing: 0.0055rem */
}
.para {
  color: #fff;
  font-size: 1rem;
  text-align: justify;
}
.reserve-table-div {
  display: flex;
  justify-content: center;
}
.reserve-table {
  font-size: 1.2rem;
  color: #fff;
  border: 1px solid var(--primaryYellow);
  border-radius: 5px;
  padding: 0.5rem 2rem;
  background-color: transparent;
  outline: none;
}
@media screen and (max-width: 600px) {
  .top-quality-section {
    padding: 6% 0px;
  }

  .center-section-wrapper {
    flex-direction: column;
    width: 90%;
    gap: 1.2rem;
  }
  .left-section-img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .right-section-wrapper {
    width: 100%;
  }
  .heading {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  .para {
    font-size: 0.85rem;
  }
  .reserve-table {
    font-size: 0.9rem;
  }
  .top-section-img {
    margin-top: 13%;
    width: 8rem;
  }
  .left-section-img{
    width: 75%;
  }
  .side-image-wrapper-img{
    height: 10vh;
  }

  .top-left-img-wrapper{
    top: 1%;
    left: 1%;
  }
.top-right-img-wrapper{
  top: 1%;
  right: 1%;
}
.bottom-left-img-wrapper{
  bottom: 1%;
  left: 1%;
}
.bottom-right-img-wrapper{
  bottom: 1%;
  right: 1%;
}
.reserve-table-div{
  margin-bottom: 8%;
}
}
