.two-image-section {
  background-color: var(--primaryYellow);
  padding: 5% 0px;
  background: url("/images/Asset8.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.center-section-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5% 0px;
  margin-inline: auto;
}
.first-image-wrapper {
  width: 47%;
  border-radius: 20px;
}
.first-image-wrapper-img {
  width: 100%;
  border-radius: 20px;
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.9));
}
.upper-down-img-wrapper {
  width: 15%;
  margin-inline: auto;
}
.upper-down-img-wrapper-img {
  width: 100%;
  object-fit: contain;
}
@media screen and (max-width: 1000px) {
  .center-section-wrapper {
    width: 90%;
    gap: 2%;
  }
  .upper-down-img-wrapper {
    width: 8rem;
  }
}

@media screen and (max-width: 600px) {
  .center-section-wrapper {
    width: 90%;
    gap: 1rem;
  }
  .first-image-wrapper {
    min-width: 100%;
    width: 100%;
  }
  .upper-down-img-wrapper {
    width: 8rem;
  }
}
