.two-image-section {
  background-color: var(--primaryYellow);
  padding: 5% 0px;
  background: url("/images/Asset8.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.center-section-wrapper {
  width: 80%;
  display: flex;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  overflow-x: scroll;
  margin: 3% 0px;
  margin-inline: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  gap: 5%;
  padding: 2%;
}
.three-squre-box-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  gap: 0.5rem;
  /* margin-bottom: 10%; */
}
.three-squre-box-wrapper-img {
  opacity: 0.5;
}
.active-three-squre-box-wrapper-img {
  opacity: 1 !important;
}
.center-section-wrapper::-webkit-scrollbar {
  display: none;
}
.first-image-wrapper {
  width: 48%;
  min-width: 48%;
  height: max-content;
  border-radius: 20px;
  scroll-snap-align: start;
}
.first-image-wrapper-img {
  width: 100%;
  border-radius: 20px;
  filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.9));
}
.upper-down-img-wrapper {
  width: 15%;
  margin-inline: auto;
}
.upper-down-img-wrapper-img {
  width: 100%;
  object-fit: contain;
}
@media screen and (max-width: 1000px) {
  .center-section-wrapper {
    width: 90%;
    gap: 2%;
  }
  .upper-down-img-wrapper {
    width: 8rem;
  }
}

@media screen and (max-width: 600px) {
  .center-section-wrapper {
    width: 90%;
    gap: 1rem;
  }
  .first-image-wrapper {
    min-width: 100%;
    width: 100%;
  }
  .upper-down-img-wrapper {
    width: 8rem;
  }
}
