.why-choose-section {
  background: url("/images/Asset8.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 0px 12%;
  width: 100%;
  background-color: var(--primaryColor);
  border-bottom: 1px solid #e3c48e52;
}
.why-choose-us-heading {
  color: var(--primaryColor);
  font-weight: 500;
  font-size: 1.3rem;
  font-family: var(--popinsFamily);
}
.sub-heading {
  font-size: 1.2rem;
  font-size: var(--headingFont);
  color: var(--primaryColor);
  font-family: var(--formFamily);
  font-weight: 900;
  text-align: center;
}
.img-after-choose {
  width: 15%;
  margin: 1vh 0px;
}
.img-after-choose img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.four-box-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 85%;
  margin-top: 3vh;
}
.sub-heading-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 15rem;
  width: 21%;
  gap: 1vh;
}
.four-box-sub-heading {
  color: var(--primaryColor);
  font-family: var(--formFamily);
  font-weight: 900;
  font-size: 1.3rem;
}
.four-box-paragraph {
  font-size: 1rem;
  color: var(--primaryColor);
  font-weight: 500;
  text-align: justify;
}
.four-box-icon {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.four-box-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 1250px) {
  .four-box-wrapper {
    width: 95%;
  }
}
@media screen and (max-width: 1100px) {
  .box-wrapper {
    min-width: 47%;
    width: 47%;
  }
  .four-box-wrapper {
    gap: 3vh;
  }
  .four-box-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
  .img-after-choose {
    width: 6rem;
  }
  .why-choose-us-heading {
    font-size: 1.35rem;
  }
  .sub-heading {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 600px) {
  .why-choose-section {
    padding: 3% 0px 19%;
  }
  .four-box-wrapper {
    justify-content: center;
    gap: 2.5vh;
    margin-top: 1.5rem;
  }
  .box-wrapper {
    min-width: 90%;
    width: 90%;
    gap: 0.4rem;
  }
  .four-box-icon {
    width: 2rem;
    height: 2rem;
  }
  .sub-heading-wrapper {
    flex-direction: row;
    gap: 2%;
  }
  .why-choose-us-heading {
    font-size: 1.2rem;
  }
  .sub-heading {
    font-size: 1.5rem;
  }
  .img-after-choose {
    width: 6rem;
  }
}
